:root {
    --ig-font-family: 'Titillium Web', sans-serif;
    --ig-secondary-h: 114deg;
    --ig-secondary-s: 61%;
    --ig-secondary-l: 63%;
    --ig-surface-h: 0deg;
    --ig-surface-s: 0%;
    --ig-surface-l: 13%;
    --ig-secondary-600-contrast: black;
    --ig-secondary-700-contrast: black;
    --ig-secondary-800-contrast: black;
    --ig-secondary-900-contrast: black;
    --ig-secondary-A400-contrast: black;
    --ig-secondary-A700-contrast: black;
    --ig-surface-50-contrast: white;
    --ig-surface-100-contrast: white;
    --ig-surface-200-contrast: white;
    --ig-surface-300-contrast: white;
    --ig-surface-400-contrast: white;
    --ig-surface-500-contrast: white;
    --ig-surface-600-contrast: white;
    --ig-surface-700-contrast: white;
    --ig-surface-800-contrast: white;
    --ig-surface-900-contrast: white;
    --ig-surface-A100-contrast: white;
    --ig-surface-A200-contrast: white;
    --ig-surface-A400-contrast: white;
    --ig-surface-A700-contrast: white;
}

/* align icons in their containers */
.material-icons, .imx-icon {
  vertical-align: middle;
}

.ig-typography h1,
.ig-typography h2,
.ig-typography h3,
.ig-typography h4,
.ig-typography h5,
.ig-typography h6,
.ig-typography p,
.ig-typography__body-1 {
    margin: 0 !important;
}
